#root {
  /* Need to remove margins */
  margin: -8px;
  font-family: 'Roboto Mono', monospace;
  /* Full Height */
  /* min-height: 100vh; */
  /* display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  align-content: start; */
}
